{% extends "base.html" %}
{% load django_bootstrap5 %}


{% block title %}
    {% if member_id is not None %}Add a Team Member
    {% else %} Edit Team Member
    {% endif %}
{% endblock %}

{% block body %}
    <div>
        <div>
            {% if member_id is not None %}
                <h1>Edit Team Member</h1>
                <p class="text-secondary">Edit contact info, location, and role.</p>
            {% else %}
                <h1>Add a Team Member</h1>
                <p class="text-secondary">Set email, location, and role.</p>
            {% endif %}
        </div>
        <form method="POST">
            {% csrf_token %}
            <div>
                <h5>Info</h5>
                {% bootstrap_field form.first_name show_label=False %}
                {% bootstrap_field form.last_name show_label=False %}
                {% bootstrap_field form.email show_label=False %}
                {% bootstrap_field form.phone_number show_label=False %}
            </div>
            <div>
                <h5>Role</h5>
                {% bootstrap_field form.role show_label=False %}
            </div>
            <div>
                {% if member_id is not None %}
                    <a href="{% url 'delete' member_id %}" class="btn btn-danger float-start">
                        Delete
                    </a>
                {% endif %}
                <button class="btn btn-primary float-end">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}