{% extends "base.html" %}
{% load bootstrap_icons %}


{% block title %}{% endblock %}

{% block body %}
    <div class="row">
        <div>
            <a href="{% url 'add' %}" class="float-end btn btn-light btn-lg">
                {% bs_icon 'plus-lg' %}
            </a>
        </div>
        <div>
            <h1>Team Member Dashboard</h1>
            <p class="text-secondary">You have {{team_members|length}} team members.</p>
        </div>
        <ul class="list-group list-group-flush">
            {% for member in team_members %}
            <div class="list-group-item">
                <div class="d-flex flex-row align-items-center">
                    <div class="p-4">
                        <a class="link-secondary" href="{% url 'edit' member.id %}">
                            {% bs_icon 'person-circle' size='5em' %}
                        </a>
                    </div>
                    <div class="row p-2">
                        <h3>
                            {{member.first_name}}
                            {{member.last_name}}
                            {% if member.role is 1 %}
                                (admin)
                            {% endif %}
                        </h3>
                        <p class="text-secondary">
                            {{member.phone_number}} 
                            <br/ >
                            {{member.email}}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}